* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    margin: 0;
    background-color: #1e0555;
}

body, .quote-input {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    background-color: #f0db4f;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    max-width: 90%;
}

.timer {
    position: absolute;
    top: 42px;
    font-size: 85px;
    color: #f0db4f;
    font-weight: bold;
}

.quote-display {
    margin-bottom: 20px;
    margin-left: calc(20px + 2px);
    margin-right: calc(20px + 2px);
    font-size: 25px;

}

.quote-input {
    background-color: transparent;
    border: 2px solid #A1922E;
    outline: none;
    width: 100%;
    height: 200px;
    margin: auto;
    resize: none;
    padding: 10px 20px;
    font-size: 25px;
}

.quote-input:focus {
    border-color: #000;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}